mixin section-metal(section)
	//- проверка данных получаемых из section
	include ../../shared/helpers/pug/shortcut-check-store

	//- верстка секции
	+b('section-metal', {}, 'section')
		+Container
			+e('title', {}, 'h2') #{S_DATA('title')}
			+e('line', {}, 'div')
			+e('metal-steel', {}, 'div') #{S_DATA('metalSteel')}
			+e('subtitle', {}, 'h3') #{S_DATA('metalDelivery')}
			+e('metal-info', {}, 'span') #{S_DATA('metalSphere')}
			+e('subtitle', {}, 'h3') #{S_DATA('metalReserve')}
			+e('metal-info', {}, 'span') #{S_DATA('metalProduction')}
