mixin Text(props)
	//- проверка данных получаемых из props
	include ../../helpers/pug/shortcut-check-store

	//- логика компонента
	- const isElementClass = OPT('isElementClass') ? '&' : '';
	- const tag = OPT('p') ? 'p' : 'span';

	//- верстка компонента
	if OPT('arrayData')
		for item in DATA_ARR('arrText')
			- console.log(item, 'qqqqq')
			//- проверка данных получаемых из item
			include ../../helpers/pug/shortcut-check-store
			+b('text', {e: `${isElementClass}:${BEM('elementClassIndividual')}`, m: `${BEM('size')}.${BEM('color')}.${BEM('fw')}`}, tag) #{item.text}
	else
		+b('text', {e: `${isElementClass}:${BEM('elementClassIndividual')}`, m: `${BEM('size')}.${BEM('color')}.${BEM('fw')}`}, tag) #{DATA('text')}
