mixin Text(props)
	//- проверка данных получаемых из props
	include ../../helpers/pug/shortcut-check-store

	//- логика компонента
	- const isElementClass = OPT('isElementClass') ? '&' : '';
	- const tag = OPT('p') ? 'p' : 'span';

	//- верстка компонента
	+b('text', {e: `${isElementClass}:${BEM('elementClassIndividual')}`, m: `${BEM('size')}.${BEM('color')}.${BEM('fw')}.${BEM('lh')}`}, tag) #{DATA('text')}
