mixin ContactInformation(props)
	//- проверка данных получаемых из props
	include ../../shared/helpers/pug/shortcut-check-store

	//- верстка компонента
	+b('contact-information', {}, 'div')
		if OPT('contact-information')
			+e('sub-title', {}, 'div')
				+e('icon', {}, 'img')(src='../../layout/assets/images/icon-pin-map.svg')
				+e('town', {}, 'div') #{DATA('name')}
		+e('wrapper', {}, 'div')
			+e('item-description', {}, 'div')
				+e('adress', {}, 'div') #{DATA('address')}
				+e('schedule', {}, 'div') #{DATA('schedule')}
				+e('location', {}, 'div') #{DATA('location')}
			+e('item-link', {}, 'div')
				+e('link', {}, 'a')(href=I_DATA('mapLink')) #{DATA('mapText')}

			+e('item-contact-info')
				for item in DATA_ARR('telephone')
					//- проверка данных получаемых из item
					include ../../shared/helpers/pug/shortcut-check-store

					+e('phone', {}, 'a')(href=I_DATA('href')) #{I_DATA('text')}
				for item in DATA_ARR('mail')
					//- проверка данных получаемых из item
					include ../../shared/helpers/pug/shortcut-check-store

					+e('mail',{}, 'a')(href=I_DATA('mailHref')) #{I_DATA('mail')}
