mixin footer(section)
	//- проверка данных получаемых из section
	include ../../shared/helpers/pug/shortcut-check-store

	//- верстка секции
	+b('footer', {m: S_BEM('modFooter')}, 'footer')
		+Container
			+e('footer-icons', {}, 'div')
				//-Иконки-------------------------------------------------------------------------------------
				+e('metaloteka-icons', {}, 'div')
					+e('icons-font', {}, 'div')
						+e('logo', {}, 'img')(src=`${pathFile}${S_DATA('logoMetaloteka')}` alt='логотип metaloteka')
						+e('icon-subtitle', {}, 'h3') #{S_DATA('subtitle')}
					+e('metaloteka-logo', {}, 'a')(href='/')
						+e('metaloteka-logo_item', {}, 'img')(src=`${pathFile}${S_DATA('logo')}` alt='Logo')
					+e('social', {}, 'div')
						+e('clients-item', {}, 'a')(href='#')
							+e('social-item', {}, 'img')(src=`${pathFile}${S_DATA('logoMail')}` alt='Mail')
						+e('clients-item', {}, 'a')(href='#')
							+e('social-item', {}, 'img')(src=`${pathFile}${S_DATA('logoVk')}` alt='Vk')
						+e('clients-item', {}, 'a')(href='#')
							+e('social-item', {}, 'img')(src=`${pathFile}${S_DATA('logoTg')}` alt='Telegram')
				//-Клиентам------------------------------------------------------------------------------------
				+e('clients', {}, 'div')
					+e('clients-title', {}, 'h2') #{S_DATA('titleClients')}

					for item in S_DATA_ARR('clients')
						//- проверка данных получаемых из item
						include ../../shared/helpers/pug/shortcut-check-store

						+e('clients-item', {}, 'a')(href='#') !{I_DATA('text')}
				//-Каталог-------------------------------------------------------------------------------------
				+e('catalog', {}, 'div')
					+e('catalog-title', {}, 'h2') #{S_DATA('titleCatalog')}

					for item in section.dataArr.catalog
						//- проверка данных получаемых из item
						include ../../shared/helpers/pug/shortcut-check-store

						+e('catalog-item', {}, 'a')(href='#')  !{I_DATA('text')}
				//-Контакты-------------------------------------------------------------------------------------
				+e('contacts', {}, 'div')
					//- for item in S_ELEM_ARR('ContactFooter')
					//- 	+ContactFooter(item)
					for item in S_DATA_ARR('testiu')
						//- проверка данных получаемых из section
						include ../../shared/helpers/pug/shortcut-check-store
						+e('address-wrapper', {}, 'div')
							+e('social-wrapper', {}, 'div')
								+e('subtitle', {}, 'p') #{I_DATA('text')}
								+e('subtitle', {}, 'p') #{I_DATA('viber')}
							+e('messenger-title', {}, 'p') #{I_DATA('info1')}
							+e('messenger-subtitle', {}, 'p') #{I_DATA('info')}
					//- +e('address-wrapper', {}, 'div')
					//- 	+e('subtitle', {}, 'span') #{S_DATA('city')}
					//- 	+e('adress-subtitle', {}, 'span') #{S_DATA('address')}
					//- +e('messenger-phone', {}, 'div')
					//- 	+e('subtitle', {}, 'a')(href='tel:+799999999999') #{S_DATA('phoneNumber')}
					//- 	+e('messenger-subtitle', {}, 'span') #{S_DATA('phoneInfo')}
					//- +e('messenger', {}, 'div')
					//- 	+e('subtitle', {}, 'a')(href='mailto:renat@metaloteka.ru') #{S_DATA('mailAddress')}
					//- 	+e('messenger-subtitle', {}, 'span') #{S_DATA('mailInfo')}
					//- +e('messenger-wiber', {}, 'div')
					//- 	+e('subtitle', {}, 'a')(href='viber://chat?number=%2B380950000000') #{S_DATA('whatsappWiber')}
					//- 	+e('messenger-subtitle', {}, 'span') #{S_DATA('whatsappWiberInfo')}
			//-Реквизиты----------------------------------------------------------------------------------------
			+e('requesites', {}, 'div')
				+e('requesites-info', {}, 'div')
					+e('requesites-img', {}, 'img')(src=`${pathFile}${S_DATA('iconRuble')}` alt='логотип metaloteka')
					+e('individuals', {}, 'div')
						+e('title-individuals', {}, 'span') #{S_DATA('titleRequesites')}
						+e('subtitle-individuals', {}, 'span') #{S_DATA('requesitesIndividuals')}
					+e('legal-entities', {}, 'div')
						+e('title-individuals', {}, 'span') #{S_DATA('subtitleRequesites')}
						+e('subtitle-individuals', {}, 'span') #{S_DATA('requesitesLegalEntities')}
				+e('sber-icons', {}, 'div')
					+e('logo-sberbank', {}, 'img')(src=`${pathFile}${S_DATA('logoSberbank')}` alt='sber')
					+e('logo-payment', {}, 'img')(src=`${pathFile}${S_DATA('logoPaymentSbr')}` alt='sber')
					+e('logo-mir', {}, 'img')(src=`${pathFile}${S_DATA('logoMir')}` alt='mir')
				+e('button-wrapper', {}, 'div')
					+e('button', {}, 'button') #{S_DATA('requesitesButton')}
			//-Информация---------------------------------------------------------------------------------------
			+e('info-metaloteka', {}, 'span') #{S_DATA('infoMetaloteka')}
			//-Политика конфидициальности-----------------------------------------------------------------------
			+e('privacy-policy-wrapper', {}, 'div')
				+e('privacy-policy-info', {}, 'div')
					+e('privacy-policy', {}, 'a')(href='#') #{S_DATA('privacyPolicy')}
					+e('privacy-policy-map', {}, 'a')(href='#') #{S_DATA('privacyMap')}
				+e('privacy-policy-img-wrapper', {}, 'a')(href='/')
					+e('privacy-policy-img', {}, 'img')(src=`${pathFile}${S_DATA('logoMetalotekafont')}` alt='логотип metaloteka')
				+e('privacy-policy-web', {}, 'a')(href='#') #{S_DATA('webStudio')}
			//- for item in S_ELEM_ARR('ContactFooter')
				+ContactFooter(item)
			//- for item in S_DATA_ARR('testiu')
			//- 	//- проверка данных получаемых из section
			//- 	include ../../shared/helpers/pug/shortcut-check-store
			//- 	+e('subtitle', {}, 'p') #{I_DATA('text')}
			//- 	+e('adress-subtitle', {}, 'p') #{I_DATA('submaga')}
			//- 	+e('messenger-subtitle', {}, 'p') #{I_DATA('maga')}
			//- 	p #{I_DATA('mail')}
