mixin footer(section)
	//- проверка данных получаемых из section
	include ../../shared/helpers/pug/shortcut-check-store

	//- верстка секции
	+b('footer', {m: S_BEM('modFooter')}, 'footer')
		+Container
			+e('footer-icons', {}, 'div')
				//-Иконки-------------------------------------------------------------------------------------
				+e('metaloteka-icons', {}, 'div')
					+e('icons-font', {}, 'div')
						+e('logo', {}, 'img')(src=`${pathFile}${S_DATA('logoMetalotekafont')}` alt='логотип metaloteka')
						h3 #{S_DATA('subtitle')}
					+e('metaloteka-logo', {}, 'div')
						+e('metaloteka-logo_item', {}, 'img')(src=`${pathFile}${S_DATA('logo')}` alt='Logo')
					+e('social', {}, 'div')
						+e('social-item', {}, 'img')(src=`${pathFile}${S_DATA('logoMail')}` alt='Mail')
						+e('social-item', {}, 'img')(src=`${pathFile}${S_DATA('logoVk')}` alt='Vk')
						+e('social-item', {}, 'img')(src=`${pathFile}${S_DATA('logoTg')}` alt='Telegram')
				//-Клиентам------------------------------------------------------------------------------------
				+e('clients', {}, 'div')
					h2 #{S_DATA('titleClients')}
					for item in section.dataArr.clients
						//- проверка данных получаемых из item
						include ../../shared/helpers/pug/shortcut-check-store

						+e('item', {}, 'span') !{I_DATA('text')}
				//-Каталог-------------------------------------------------------------------------------------
				+e('catalog', {}, 'div')
					h2 #{S_DATA('titleCatalog')}

					for item in section.dataArr.catalog
						//- проверка данных получаемых из item
						include ../../shared/helpers/pug/shortcut-check-store

						+e('item', {}, 'span') !{I_DATA('text')}
				//-Контакты-------------------------------------------------------------------------------------
				+e('contacts', {}, 'div')
					+e('address', {}, 'div')
						span #{S_DATA('city')}
						span #{S_DATA('address')}
					+e('messenger', {}, 'div')
						span #{S_DATA('phoneNumber')}
						span #{S_DATA('phoneInfo')}
					+e('messenger', {}, 'div')
						span #{S_DATA('mailAddress')}
						span #{S_DATA('mailInfo')}
					+e('messenger', {}, 'div')
						span #{S_DATA('whatsappWiber')}
						span #{S_DATA('whatsappWiberInfo')}
			//-Реквизиты----------------------------------------------------------------------------------------
			+e('requesites', {}, 'div')
				+e('logo', {}, 'img')(src=`${pathFile}${S_DATA('iconRuble')}` alt='логотип metaloteka')
				+e('', {}, 'div')
					span #{S_DATA('mailInfo')}
					span #{S_DATA('mailInfo')}
				+e('', {}, 'div')
					span #{S_DATA('mailInfo')}
					span #{S_DATA('mailInfo')}
				button Написать
			//-Информация---------------------------------------------------------------------------------------
			+e('info-metaloteka', {}, 'div')
				span #{S_DATA('infoMetaloteka')}
			//-Политика конфидициальности-----------------------------------------------------------------------
			+e('privacy-policy', {}, 'div')
				+e('privacy-policy_info', {}, 'div')
					span #{S_DATA('privacyPolicy')}
					span #{S_DATA('privacyMap')}
				+e('privacy-policy_img', {}, 'div')
					+e('logo', {}, 'img')(src=`${pathFile}${S_DATA('logoMetalotekafont')}` alt='логотип metaloteka')
				+e('privacy-policy_web', {}, 'div')
					span #{S_DATA('webStudio')}
