mixin footer(section)
	//- проверка данных получаемых из section
	include ../../shared/helpers/pug/shortcut-check-store

	//- верстка секции
	+b('footer', {m: S_BEM('modFooter')}, 'footer')
		+b('ert')
		+Container
			+Row(S_ELEM('Row'))
				+Row(S_ELEM('RowFooterMetaloteka'))
					+b('metaloteka-test', {m: 'erere'}, 'div')
						+e ('element', {}, 'div') logo
					+b( 'metaloteka-test' )
						+e ( 'element' ) logo
					+b( 'metaloteka-test2' )
						//- +e('icon', {}, 'img')(src='logo-telegram.svg' alt='tg')
						include ./logo-telegram.svg
						include ./logo-telegram.svg
						include ./logo-telegram.svg
				//- +Row(S_ELEM('footerClients'))
				+e('footer-clients', {m: 'mobile.ui',b: 'rg-20 rg-xl-30'}, 'div')
					h2 #{S_DATA('titleClients')}
					for item in section.arrayData.clients.arrData
						//- проверка данных получаемых из item
						include ../../shared/helpers/pug/shortcut-check-store

						+e('item', {}, 'span') !{I_DATA('text')}
					//- +e('contact', {}, 'div') ddfdf
					//- +e('contact', {}, 'div') dfdf
				+Row(S_ELEM('footerCatalog'))
					h2 #{S_DATA('titleCatalog')}

					for item in section.arrayData.catalog.arrData
						//- проверка данных получаемых из item
						include ../../shared/helpers/pug/shortcut-check-store

						+e('item', {}, 'span') !{I_DATA('text')}
				+Row(S_ELEM('footerContacts'))
					+b( 'contact-test' )
						+e ( 'element' ) Москва
						+e ( 'element' ) г.Москва, ул.Воскресенская, 84 Бизнес-центр «Чистые пруды»
					+b( 'contact-test' )
						+e ( 'element' ) +7 495 545 64 20
						+e ( 'element' ) Телефон клиентской поддержки
					+b( 'contact-test' )
						+e ( 'element' ) client@metaloteka.ru
					+b( 'contact-test2' )
						+e ( 'element' ) Напишите нам в мессенджер
			+Row(S_ELEM('infoMetaloteka'))
				button Написать
			+Row(S_ELEM('infoMetaloteka'))
				+e('item', {}, 'span') !{footer.infoMetaloteka}
			+Row(S_ELEM('privacyPolicy'))
				+b( 'privacy-policy_item' )
					+e ( 'element' ) Политика конфиденциальности
					+e ( 'element' ) Карта сайта
				+b( 'privacy-policy_item' )
					+e ( 'element' ) Москва
				+b( 'privacy-policy_item2' )
					+e ( 'element' ) Сайт разработан веб-студией Брэнд Бэйкер
