mixin popup-payment(section)
	//- проверка данных получаемых из section
	include ../../shared/helpers/pug/shortcut-check-store

	//- верстка секции
	+Popup(S_ELEM('Popup'))
		+e('title', {}, 'div')
			+e('order', {}, 'h2') #{S_DATA('titleOrder')}
			+e('firm', {}, 'h2') #{S_DATA('titleFirm')}
		+e('line', {}, 'hr')(noshade)
		+e('call', {}, 'div')
			+e('summ', {m: 'left'}, 'div')
				+e('total', {}, 'p') #{S_DATA('summTotal')}
				+e('total', {m: 'summ'}, 'div')
					+e('number', {m: 'summ'}, 'p') #{S_DATA('sumTotalNumber')}
					+e('ruble', {}, 'p') #{S_DATA('sumTotalRuble')}
				+e('trait', {}, 'div')
				+e('total', {m: 'days'}, 'p') #{S_DATA('sumTotalDays')}
			+e('summ', {m: 'center'}, 'div')
				+e('total', {m: 'bold'}, 'p') #{S_DATA('sumTotalBold')}
				+e('total', {m: 'small'}, 'p') #{S_DATA('sumTotalSmall')}
			+e('summ', {m: 'right'}, 'div')
				+e('total', {m: 'mini'}, 'p') #{S_DATA('sumTotalMini')}
				+e('total', {m: 'wrap'}, 'div')
					+e('link', {}, 'div')
						+e('download', {}, 'a')(href='!#') #{S_DATA('sumTotalLinkDownload')}
						+e('date', {}, 'span') #{S_DATA('sumTotalLinkDate')}
					+e('link', {}, 'div')
						+e('download', {}, 'a')(href='!#') #{S_DATA('sumTotalLinkDownload2')}
						+e('date', {}, 'span') #{S_DATA('sumTotalLinkDate2')}
		+e('button', {}, 'div')

			//- for item in S_ELEM_ARR('Button')
			//- 	- console.log(item, 'Button')
			//- 	+Button(item)
			//- +b('button', {}, 'button')(disabled=OPT('disabled')) #{DATA('text')}

			for item in S_DATA_ARR('buttonPay')
				//- проверка данных получаемых из item
				include ../../shared/helpers/pug/shortcut-check-store
				+e('pay', {}, 'button')(disabled=I_OPT('disabled')) #{I_DATA('text')}

		+e('line', {m: 'button'}, 'hr')(noshade)
		+e('inform', {}, 'div')
			+e('subtitle', {}, 'h2') #{S_DATA('buttonPayButtonOffice')}
			+e('text', {}, 'p') #{S_DATA('informText')}
			+e('scroll', {}, 'span') #{S_DATA('informScroll')}
