mixin section-contact(section)
	//- проверка данных получаемых из section
	include ../../shared/helpers/pug/shortcut-check-store

	//- верстка секции
	+b('section-contact', {}, 'section')
		+Container
			+Row(S_ELEM('Row'))
				+e('left')
					+e('circle', {}, 'div') MT
					+e('appellation', {}, 'div') #{S_DATA('textMobile')}
					+e('title', {}, 'div') Контакты
					+e('map', {}, 'img')(src='../../layout/assets/images/map.jpg')

					for item in S_ELEM_ARR('ContactInformation')
						+ContactInformation(item)

					+Tabs(S_ELEM('Tabs'))

					+e('button js-collapse', {}, 'button') Развернуть
					+e('line', {}, 'hr')
					+e('footer', {b: 'cg-20'}, 'div')
						+e('qr', {}, 'img')(src=`${pathFile}${S_DATA('qr')}`)
						for item in S_ELEM_ARR('ContactInformationFooter')
							+ContactInformationFooter(item)

				+e('right', {}, 'div')
					+Slider(S_ELEM('Slider'))
						+e('slides', {b: 'swiper-wrapper'}, 'div')
							for item in S_DATA_ARR('slider')
								//- проверка данных получаемых из item
								include ../../shared/helpers/pug/shortcut-check-store

								+e('slide', {b: 'swiper-slide'}, 'div')
									+e('information-left', {}, 'div')
										+e('information-subtitle', {}, 'span') #{I_DATA('informationSubtitle')}
										+e('information-left-title', {}, 'span') #{I_DATA('informationLeftTitle')}
										+e('information-line', {}, 'span')
										+e('information-left-text', {}, 'span') #{I_DATA('informationLeftText')}
										+e('information-img', {}, 'img')(src=`${pathFile}${I_DATA('informationImg')}` alt='Logo')
										+e('information-left-img', {}, 'img')(src=`${pathFile}${I_DATA('informationLeftImg')}` alt='Logo')
										+e('information-left-info', {}, 'span') #{I_DATA('informationLeftInfo')}
