mixin section-contact(section)
	//- проверка данных получаемых из section
	include ../../shared/helpers/pug/shortcut-check-store

	//- верстка секции
	+b('section-contact', {}, 'section')
		+Container
			+Row(S_ELEM('Row'))
				+e('left')
					+e('circle', {}, 'div') MT
					+e('appellation', {}, 'div') #{S_DATA('textMobile')}
					+e('title', {}, 'div') Контакты
					+e('map', {}, 'img')(src='../../layout/assets/images/map.jpg')

					for item in S_ELEM_ARR('ContactInformation')
						+ContactInformation(item)

					+Tabs(S_ELEM('Tabs'))

					+e('button js-collapse', {}, 'button') Развернуть
					+e('line', {}, 'hr')
					+e('footer', {b: 'cg-20'}, 'div')
						+e('qr', {}, 'img')(src=`${pathFile}${S_DATA('qr')}`)
						for item in S_ELEM_ARR('ContactInformationFooter')
							+ContactInformationFooter(item)

				+e('right', {}, 'div')
					+Slider
						+e('slides', {b: 'swiper-wrapper'}, 'div')
							+e('slide', {b: 'swiper-slide'}, 'div')
								+e('information-left', {}, 'div')
									+e('information-subtitle', {}, 'span') Металлотека
									+e('information-left-title', {}, 'span') Листовой прокат
									+e('information-line', {}, 'span')
									+e('information-left-text', {}, 'span') Лист горячекатный, лист холоднойкатный
									+e('information-left-img-wrapper', {}, 'div')
										+e('information-left-img', {}, 'img')(src=`../../layout/assets/images/min-category3.png` alt='Logo')
										+e('information-left-info', {}, 'span') Металлопрокат оптом и в розницу с доставкой по Москве и московской области
								//- +e('img', {}, 'img')(src=`${pathFile}/index/index-slide1.webp` alt='слайд1')
							+e('slide', { b: 'swiper-slide' }, 'div')
								+e('information-left', {}, 'div')
									+e('information-subtitle', {}, 'span') Металлотека
									+e('information-left-title', {}, 'span') Арматурный прокат
									+e('information-line', {}, 'span')
									+e('information-left-text', {}, 'span') Арматура, профиль, трубный прокат и другие товары
									+e('information-left-img-wrapper', {}, 'div')
										+e('information-left-img', {}, 'img')(src=`../../layout/assets/images/min-category2.png` alt='Logo')
										+e('information-left-info', {}, 'span') Металлопрокат оптом и в розницу с доставкой по Москве и московской области
								//- +e('img', {}, 'img')(src=`${pathFile}/index/index-slide2.webp` alt='слайд2')
							+e('slide', { b: 'swiper-slide' }, 'div')
								+e('information-left', {}, 'div')
									+e('information-subtitle', {}, 'span') Металлотека
									+e('information-left-title', {}, 'span') Металопрокат с доставкой
									+e('information-line', {}, 'span')
									+e('information-left-text', {}, 'span') Арматура, профиль, трубный прокат и другие товары
									+e('information-left-img-wrapper', {}, 'div')
										+e('information-left-img', {}, 'img')(src=`../../layout/assets/images/min-category1.png` alt='Logo')
										+e('information-left-info', {}, 'span') Металлопрокат оптом и в розницу с доставкой по Москве и московской области
								//- +e('img', {}, 'img')(src=`${pathFile}/index/index-slide2.webp` alt='слайд2')
