mixin Tabs(props)
	//- проверка данных получаемых из props
	include ../../shared/helpers/pug/shortcut-check-store

	//- верстка компонента
	+b('tabs', {}, 'div')
		+e('buttons', {}, 'div')
			for item, index in DATA_ARR('tabButtons')
				//- проверка данных получаемых из item
				include ../../shared/helpers/pug/shortcut-check-store

				+e('button', {b: `${index === 0 ? 'js-active' : ''}`}, 'button')(data-tab-button=`${I_DATA('dataTabButton')}`) #{I_DATA('tabButton')}

		+e('body', {}, 'div')
			for item, index in DATA_ARR('tabContents')
				//- проверка данных получаемых из item
				include ../../shared/helpers/pug/shortcut-check-store
				+e('content', {b: `${index === 0 ? 'js-active' : ''}`}, 'div')(data-tab-content=`${I_DATA('dataTabContent')}`) #{I_DATA('tabContent')}
