mixin ContactInformationFooter(props)
	//- проверка данных получаемых из props
	include ../../shared/helpers/pug/shortcut-check-store

	//- верстка компонента
	+b('contact-information-footer', {b: `${BEM('margin')}`}, 'div')
		+e('name', {}, 'div')
			if OPT('heading')
				+e('title', {}, 'span') #{DATA('title')}
			if OPT('link')
				+e('link', {}, 'a')(href=DATA('href')) #{DATA('link')}
			if OPT('subtitle')
				+e('sub-title') #{DATA('subtitle')}
			//- +e('range', {}, 'div')
			for item in DATA_ARR('texts')
				//- проверка данных получаемых из item
				include ../../shared/helpers/pug/shortcut-check-store

				+e('text', {m: I_BEM('weihgt')}, 'p') #{I_DATA('text')}
