mixin Card(props)
	//- проверка данных получаемых из props
	include ../../shared/helpers/pug/shortcut-check-store

	//- верстка компонента
	+b('card', {}, 'div')
		+b('title', {}, 'div')
			+Text(ELEM('TextOrder'))
			//- +e('order', {}, 'h2') #{ DATA('order') }
			+e('firm', {}, 'h2') #{ DATA('firm') }
		+b('line', {}, 'hr')(noshade)
		+b('call', {}, 'div')
			+b('summ', {m: 'left'}, 'div')
				+e('total', {}, 'p') Итого:
				+e('total', {m: 'summ'}, 'div')
					+e('number', {m: 'summ'}, 'p') #{ DATA('sum') }
					+e('ruble', {}, 'p') р.
				+e('line', {}, 'div')
				+e('total', {}, 'p') #{ DATA('weight') }
			+b('summ', {m: 'center'}, 'div')
				+e('total', {m: 'bold'}, 'p') #{ DATA('count') }
				+e('total', {m: 'small'}, 'p') #{ DATA('numberInWords') }
			+b('summ', {m: 'right'}, 'div')
				+e('total', {m: 'mini'}, 'p') #{ DATA('description') }
				+e('total', {m: 'wrap'}, 'div')
					+e('link', {}, 'div')
						+e('download', {}, 'a')(href='!#') #{ DATA('link')}
						+e('date', {}, 'span') #{ DATA('date')}
					+e('link', {}, 'div')
						+e('download', {}, 'a')(href='!#') #{ DATA('blank')}
						+e('date', {}, 'span') #{ DATA('date')}
