mixin section-catalog(section)
	//- проверка данных получаемых из section
	include ../../shared/helpers/pug/shortcut-check-store

		// Основная секция
		+b('section-catalog', {}, 'section')(data-type-section='general')
			+Container
				+e('catalog-wrapper', {}, 'div')
					+e('left-aside', {}, 'div')
						+e('logo', {}, 'div')
							+e('img', {}, 'img')(src='../../layout/assets/images/catalog-banner.svg')
							+e('banner', {}, 'div')
								+e('title', {}, 'span') #{S_ELEM('LogoBanner').data.title}
								+e('subtitle', {}, 'span') #{S_ELEM('LogoBanner').data.subtitle}
								+e('range', {}, 'div')
						+e('navigation', {}, 'div')
							// Десктопная версия левого меню
							each item in S_DATA_ARR('category')
								include ../../shared/helpers/pug/shortcut-check-store
								+e('category', {}, 'a')(href=I_DATA('href')) #{ I_DATA('title') }
							// Мобильная версия левого меню
							+e('accordion-wrapper', {}, 'div')
								each item in S_ELEM_ARR('AccordionListNavigation')
									+AccordionList(item)
						+e('mobile-description', {}, 'div') #{S_ELEM('MobileDescription').data.description}
					// Правый десктопный блок
					+e('right-aside', {}, 'div')
						+b('product-main', {}, 'div')
							+e('wrapper', {}, 'div')
								+e('title', {}, 'span') #{S_ELEM('ProductInformation').data.title}
								+e('range', {}, 'div')
								+e('information-block', {}, 'div')
									each item in S_ELEM_ARR('AccordionList')
										+AccordionList(item)
						+b('product-tags', {}, 'div')
							+e('tags-wrapper', {}, 'div')
								each item in S_DATA_ARR('tags')
									include ../../shared/helpers/pug/shortcut-check-store
									+e('tag', {}, 'a')(href=I_DATA('href')) #{ I_DATA('title') }
							+e('img-bg', {}, 'img')(src='../../layout/assets/images/catalog-bg.png')
						+b('product-footer', {}, 'div')
							+e('footer-wrapper', {}, 'div')
								+e('qr', {}, 'img')(src='../../layout/assets/images/icon-qr.svg')
								for item in S_ELEM_ARR('ContactInformationFooter')
									+ContactInformationFooter(item)
		// Детальная секция
		+b('section-catalog', {}, 'section')(data-type-section='details')
			+Container
				+e('catalog-wrapper', {}, 'div')
					+e('left-aside', {}, 'div')
						+e('logo', {}, 'div')
							+e('img', {}, 'img')(src='../../layout/assets/images/catalog-banner.svg')
							+e('banner', {}, 'div')
								+e('title', {}, 'span') #{S_ELEM('LogoBanner').data.title}
								+e('subtitle', {}, 'span') #{S_ELEM('LogoBanner').data.subtitleDetails}
								+e('range', {}, 'div')
						// Десктопная версия левого меню
						+e('navigation', {}, 'div')
							+e('selected-title', {}, 'a')(href='#') #{S_DATA('selectedTitle')}
							+e('details-navigation-wrapper')
								each item in S_DATA_ARR('detailsNavigationLa')
									include ../../shared/helpers/pug/shortcut-check-store
									+e('details-item', {}, 'a')(href=I_DATA('href')) #{ I_DATA('title') }
							+e('details-navigation-wrapper')
								each item in S_DATA_ARR('detailsNavigationTi')
									include ../../shared/helpers/pug/shortcut-check-store
									+e('details-item', {}, 'a')(href=I_DATA('href')) #{ I_DATA('title') }
							+e('details-navigation-wrapper')
								each item in S_DATA_ARR('detailsNavigationMe')
									include ../../shared/helpers/pug/shortcut-check-store
									+e('details-item', {}, 'a')(href=I_DATA('href')) #{ I_DATA('title') }
							+e('details-navigation-wrapper')
								each item in S_DATA_ARR('detailsNavigationAl')
									include ../../shared/helpers/pug/shortcut-check-store
									+e('details-item', {}, 'a')(href=I_DATA('href')) #{ I_DATA('title') }
						// Мобильная версия левого меню
						+e('navigation-mobile', {}, 'div')
							+e('navigation-mobile-wrapper', {}, 'div')
								+e('selected-title', {}, 'a')(href='#') #{ S_DATA('selectedTitleMobile') }
								+Select(S_ELEM('Select'))
								+e('item-wrapper', {}, 'div')
									for item in S_ELEM_ARR('ProductItemMobile')
										+ProductItem(item)
								+e('btn-product-list', {}, 'a')(href='') #{S_DATA('btnProductList')}
							+e('mobile-description', {}, 'div') #{ S_ELEM('MobileDescription').data.description }
					// Правый десктопный блок
					+e('right-aside', {}, 'div')
						+b('product-main-details', {}, 'div')
							+e('wrapper', {}, 'div')
								+e('title', {}, 'span') #{S_ELEM('ProductDetailsInformation').data.title}
								+e('range', {}, 'div')
								+e('information-block-details', {}, 'div')
									+e('aboveTitle', {}, 'span') #{S_ELEM('ProductInformationDetails').data.aboveTitle}
									+e('subtitle', {}, 'span') #{S_ELEM('ProductInformationDetails').data.title}
									+e('wrapper-description', {}, 'div')
										+e('description', {}, 'span') #{S_ELEM('ProductInformationDetails').data.description}
										+e('search-count', {}, 'span') #{S_ELEM('ProductInformationDetails').data.searchCount}
									+b('filter-group', {}, 'div')
										+e('title', {}, 'span') #{S_ELEM('FilterTitle').data.title}
										+e('filters-wrapper')
											+e('diameters', {}, 'div')
												each item, index in S_DATA_ARR('diameters')
													include ../../shared/helpers/pug/shortcut-check-store
													+e('diameter-value', {b: I_BEM('jsClass')}, 'div')(data-filter-diameters=I_DATA('title')) #{ I_DATA('title') }
											+e('filters', {}, 'div')
												each item in S_DATA_ARR('filters')
													include ../../shared/helpers/pug/shortcut-check-store
													+e('filter-value', {b: I_BEM('jsClass')}, 'a')(data-filter-categories=I_DATA('title')) #{ I_DATA('title') }
									+e('range-filters', {}, 'div')
									+b('product-list', {}, 'div')
										+e('header', {}, 'div')
											for item in S_ELEM_ARR('TableProductRowHeader')
												+TableProductRow(item)
										+e('content', {}, 'div')
											for item in S_ELEM_ARR('TableProductRowContent')
												+TableProductRow(item)
										+e('btn-product-list', {}, 'a')(href='') #{S_DATA('btnProductList')}
										+e('wrapper-pagination', {}, 'div')
											+e('info-description', {}, 'p') #{ S_DATA('productListDescription') }
											+Pagination()
						+b('product-tags', {}, 'div')
							+e('tags-wrapper', {}, 'div')
								each item in S_DATA_ARR('tags')
									include ../../shared/helpers/pug/shortcut-check-store
									+e('tag', {}, 'a')(href=I_DATA('href')) #{ I_DATA('title') }
							+e('img-bg', {}, 'img')(src='../../layout/assets/images/catalog-bg.png')
						+b('product-footer', {}, 'div')
							+e('footer-wrapper', {}, 'div')
								+e('qr', {}, 'img')(src='../../layout/assets/images/icon-qr.svg')
								for item in S_ELEM_ARR('ContactInformationFooter')
									+ContactInformationFooter(item)
	+Popup({data: {dataPopupName: 'product-item-details'}, bem: {parent: 'product-item-details'}})
		+ProductItemDetails(S_ELEM('ProductItemDetails'))
