mixin ContactFooter(props)
	//- проверка данных получаемых из props
	include ../../shared/helpers/pug/shortcut-check-store

	//- логика компонента
	//- - const tagContactF =  'a';
	//- - const tagContactF = OPT('link') ? 'a' : 'span';

	//- верстка компонента
	+b('contact-footer', {b: BEM('margin')}, 'div')
		for item in DATA_ARR('address')
			//- проверка данных получаемых из item
			include ../../shared/helpers/pug/shortcut-check-store

			+e('phone', {}, 'span')(href=I_DATA('href')) #{I_DATA('text')}
		for item in DATA_ARR('phoneInfo')
			//- проверка данных получаемых из item
			include ../../shared/helpers/pug/shortcut-check-store

			+e('phone', {}, 'span')(href=I_DATA('href')) #{I_DATA('tel')}
			+e('phone', {}, 'span')(href=I_DATA('href')) #{I_DATA('text')}
		for item in DATA_ARR('mailInfo')
			//- проверка данных получаемых из item
			include ../../shared/helpers/pug/shortcut-check-store

			+e('phone', {}, 'span')(href=I_DATA('href')) #{I_DATA('mail')}
			+e('phone', {}, 'span')(href=I_DATA('href')) #{I_DATA('text')}
		for item in DATA_ARR('whatsappWiber')
			//- проверка данных получаемых из item
			include ../../shared/helpers/pug/shortcut-check-store

			+e('phone', {}, 'span')(href=I_DATA('href')) #{I_DATA('text')}
			+e('phone', {}, 'span')(href=I_DATA('href')) #{I_DATA('info')}
