mixin section-breadcrumbs(section)
	//- проверка данных получаемых из section
	include ../../shared/helpers/pug/shortcut-check-store

	//- верстка секции
	+Container
		+b('section-breadcrumbs', {}, 'section')
			+e('inner', {} , 'div')
				+e('link', {}, 'a')(href=S_DATA('prevPageHref') data-popup-open='payment-entity') #{S_DATA('prevPage')}
				+e('link', {}, 'span') #{S_DATA('separation')}
				+e('link', {}, 'span')(data-popup-open='payment2') #{S_DATA('page')}
			+e('back', {}, 'a')(href=S_DATA('backHref') data-popup-open='payment') #{S_DATA('back')}
