//- Компонент Row принимает следующие параметры:
//- - rowCols
//- - gap
//- - alignItems
mixin Row(props)
	//- проверка данных получаемых из props
	include ../../../helpers/pug/shortcut-check-store

	//- верстка компонента
	+b('row', {b: `${BEM('rowCols')} ${BEM('gap')} ${BEM('justify')} ${BEM('alignItems')} ${BEM('customClass')}`, p: false}, 'div')
		block
