mixin section-order-processing(section)
	//- проверка данных получаемых из section
	include ../../shared/helpers/pug/shortcut-check-store

	//- верстка секции
	+BlockLayout({bem: {classSection: 'section-order-reserve',  modifier: 'processing'}})
		+BlockLayoutLeft
			+e('icon', {}, 'div')
				include ../../layout/assets/images/basket.svg
			+e('top', {}, 'div')
				+e('title-inner', {}, 'div')
					+Text(S_ELEM('TextTitle'))
					+e('line-big', {}, 'div')
				+Text(S_ELEM('TextRoom'))
			+e('line-small', {}, 'div')
			+Accordion(S_ELEM('AccordionDeliveryMethod'))
				+Text(S_ELEM('TextInfoWay'))
				+e('', {}, 'div')
					+Tabs(S_ELEM('TabsDeliveryMethod'))
						+TabsContent(S_ELEM('TabsContentDeliveryMethod2'))
							+e('form-processing', {}, 'form')
								+e('field-item', {m: S_BEM('fieldItemAcc')}, 'label')
									+e('', {}, 'input')(required)
									+e('', {}, 'span') #{S_DATA('placeholderDeliveryAddress')}
									+e('carta', {}, 'a') #{S_DATA('theMap')}
								+e('field-item', {m: S_BEM('fieldItemM')}, 'label')
									+e('', {}, 'input')(required)
									+e('', {}, 'span') #{S_DATA('placeholderContactPerson')}
						+TabsContent(S_ELEM('TabsContentDeliveryMethod1'))
							+e('form-processing', {}, 'form')
								+e('field-item', {m: S_BEM('fieldItemAcc')}, 'label')
									+e('', {}, 'input')(required)
									+e('', {}, 'span') #{S_DATA('placeholderDeliveryStock')}
					+Text(S_ELEM('TextReserveConditionTitle'))
					+Text(S_ELEM('TextReserveConditionText'))
			+e('line-small', {}, 'div')
			+Accordion(S_ELEM('AccordionPersonalData'))
				+e('accordion-btn', {}, 'button') #{S_DATA('accordionBtn')}
				+Text(S_ELEM('TextFillingData'))
				+Tabs(S_ELEM('Tabs'))
					+TabsContent(S_ELEM('TabsContent1'))
						+e('ffff', {}, 'div')
							+Text(S_ELEM('TextDataRegistration1'))
							+e('form', {}, 'form')
								+e('field-item', {m: S_BEM('fieldItemM')}, 'label')
									+e('item-inn', {}, 'input')(required)
									+e('', {}, 'span') #{S_DATA('placeholderInn')}
								+e('field-item', {m: S_BEM('fieldItemM')}, 'label')
									+e('', {}, 'input')(required)
									+e('', {}, 'span') #{S_DATA('placeholderCompanyName')}
								+e('field-item', {m: S_BEM('fieldItemS')}, 'label')
									+e('', {}, 'input')(required)
									+e('', {}, 'span') #{S_DATA('placeholderName')}
								+e('field-item', {m: S_BEM('fieldItemS')}, 'label')
									+e('', {}, 'input')(required)
									+e('', {}, 'span') #{S_DATA('placeholderSurname')}
								+e('field-item', {m: S_BEM('fieldItemS')}, 'label')
									+e('', {}, 'input')(required)
									+e('', {}, 'span') #{S_DATA('placeholderTel')}
								+e('field-item', {m: S_BEM('fieldItemX')}, 'label')
									+e('', {}, 'input')(required)
									+e('', {}, 'span') #{S_DATA('placeholderDeliveryAddress')}
								+e('field-item', {m: S_BEM('fieldItemS')}, 'label')
									+e('', {}, 'input')(required)
									+e('', {}, 'span') #{S_DATA('placeholderEmail')}
								+e('field-item', {m: S_BEM('fieldItemT')}, 'label')
									+e('', {}, 'textarea')(required)
									+e('', {}, 'span') Комментарий к заказу
							+e('item-btn', {}, 'div') #{S_DATA('itemBtn')}
							+Text(S_ELEM('TextConfidentialTitle'))
							+Text(S_ELEM('TextConfidentialText'))
					+TabsContent(S_ELEM('TabsContent2'))
						+e('ffff', {}, 'div')
							+Text(S_ELEM('TextDataRegistration2'))
							+e('form', {}, 'form')
								+e('field-item', {m: S_BEM('fieldItemS')}, 'label')
									+e('', {}, 'input')(required)
									+e('', {}, 'span') #{S_DATA('placeholderName')}
								+e('field-item', {m: S_BEM('fieldItemS')}, 'label')
									+e('', {}, 'input')(required)
									+e('', {}, 'span') #{S_DATA('placeholderSurname')}
								+e('field-item', {m: S_BEM('fieldItemS')}, 'label')
									+e('', {}, 'input')(required)
									+e('', {}, 'span') #{S_DATA('placeholderTel')}
								+e('field-item', {m: S_BEM('fieldItemX')}, 'label')
									+e('', {}, 'input')(required)
									+e('', {}, 'span') #{S_DATA('placeholderDeliveryAddress')}
								+e('field-item', {m: S_BEM('fieldItemS')}, 'label')
									+e('', {}, 'input')(required)
									+e('', {}, 'span') #{S_DATA('placeholderEmail')}
								+e('field-item', {m: S_BEM('fieldItemT')}, 'label')
									+e('', {}, 'textarea')(required)
									+e('', {}, 'span') Комментарий к заказу
							+e('item-btn', {}, 'div') #{S_DATA('itemBtn')}
							+Text(S_ELEM('TextConfidentialTitle'))
							+Text(S_ELEM('TextConfidentialText'))
				+e('ffff', {}, 'div')
			+e('line-small', {}, 'div')
			+Accordion(S_ELEM('AccordionCompletionRegistration'))
				+e('info-way', {}, 'div') #{S_DATA('infoDetails')}
				+e('сompletion-reserve', {}, 'div')
					+e('сompletion-reserve-room', {}, 'div') #{S_DATA('CompletionReserveRoom')}
					+e('сompletion-reserve-name', {}, 'div') #{S_DATA('CompletionReserveName')}
				+e('line-сompletion', {}, 'div')
				+Accordion(S_ELEM('AccordionOrderList'))
					for item in S_DATA_ARR('compound')
						include ../../shared/helpers/pug/shortcut-check-store
						+e('order-list', {}, 'div')
							+e('order-list-name', {}, 'div') #{I_DATA('name')}
							+e('order-list-thickness', {}, 'div') #{I_DATA('thickness')}
							+e('order-list-size', {}, 'div') #{I_DATA('size')}
							+e('order-list-weight', {}, 'div') #{I_DATA('weight')}
							+e('order-list-sum', {}, 'div') #{I_DATA('sum')}
						+e('line-order-list', {}, 'div')
				+e('call', {}, 'div')
					+e('summ', {m: 'left'}, 'div')
						+e('total', {}, 'p') #{S_DATA('summTotal')}
						+e('total', {m: 'summ'}, 'div')
							+e('number', {m: 'underline'}, 'p') #{S_DATA('sumTotalNumber')}
							+e('rub', {}, 'p') #{S_DATA('sumTotalRub')}
						+e('total', {m: 'days'}, 'p') #{S_DATA('sumTotalDays')}
					+e('summ', {m: 'center'}, 'div')
						+e('total', {m: 'bold'}, 'p') #{S_DATA('sumTotalBold')}
						+e('total', {m: 'small'}, 'p') #{S_DATA('sumTotalSmall')}
					+e('summ', {m: 'right'}, 'div')
						+e('warning-text', {}, 'div') #{S_DATA('text')}
						+e('pdf-inner', {}, 'div')
							+e('pdf-text', {}, 'a') #{S_DATA('pdf')}
							+e('active-until-text', {}, 'div') #{S_DATA('activeUntil')}
					+e('warning', {m: 'mobile'}, 'div')
						+e('warning-img', {}, 'img')(src=`../../layout/assets/images/${S_DATA('iconWarning')}` alt=S_DATA('iconAltWarning'))
						+e('warning-text', {}, 'p') #{S_DATA('textWeight')}
				+e('btn-cart', {m: 'reserve-completion'}, 'button')(disabled=I_OPT('disabled')) #{S_DATA('reserveСompletionBtn')}
				+e('txt-onclick', {m: 'mobile'}, 'div') #{S_DATA('txtOnclick')}
			+e('line-small', {}, 'div')
			+e('footer', {b: 'cg-20'}, 'div')
				+e('qr', {}, 'img')(src=`${pathFile}${S_DATA('qr')}`)
				for item in S_ELEM_ARR('ContactInformationFooter')
					+ContactInformationFooter(item)
		+BlockLayoutRight
			+e('order', {m: 'col'}, 'div')
				+e('number-right', {}, 'div') #{S_DATA('titleRight')}
				+e('text-right', {}, 'div') #{S_DATA('textRight')}
				+e('room-right', {}, 'div') #{S_DATA('role')}
			+e('line-right-small', {m: 'fat'}, 'div')
			+e('call', {m: 'col'}, 'div')
				+e('summ', {m: 'top'}, 'div')
					+e('total', {}, 'p') #{S_DATA('summTotal')}
					+e('total', {m: 'summ'}, 'div')
						+e('number', {m: 'summ'}, 'p') #{S_DATA('sumTotalNumber')}
						+e('rub', {m: 'fs-38'}, 'p') #{S_DATA('sumTotalRub')}
					+e('total', {m: 'days'}, 'p') #{S_DATA('sumTotalDays')}
				+e('summ', {m: 'center'}, 'div')
					+e('total', {m: 'bold'}, 'p') #{S_DATA('sumTotalBold')}
					+e('total', {m: 'small14px'}, 'p') #{S_DATA('sumTotalSmall')}
			for item in S_DATA_ARR('btnOrder')
				//- проверка данных получаемых из item
				include ../../shared/helpers/pug/shortcut-check-store
				+e('btn-cart', {m: 'order'}, 'button')(disabled=I_OPT('disabled')) #{I_DATA('text')}
				+e('btn-cart', {m: 'reserve'}, 'button')(disabled=I_OPT('disabled')) #{I_DATA('text')}
			+e('txt-onclick', {}, 'div') #{S_DATA('txtOnclick')}
