mixin Accordion(props)
	//- проверка данных получаемых из section
	include ../../shared/helpers/pug/shortcut-check-store

	//- верстка компонента
	+b('accordion', {p: false, m: `${BEM('size')}.${BEM('styleContent')}.${BEM('display')}`, b: `${BEM('customClass')}` }, 'div')
		+e('title', {p: 'accordion'}, 'div') #{DATA('title')}
		+e('body', {p: 'accordion'}, 'div')
			block
